body {
  background-color: #f6f5f3;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

.handler {
   margin-top: 10px;
   font-size: 28px;
   font-weight: bold;
   text-align: left;
   margin-bottom: 30px;
}

/*navigation bar*/
.navbar-nav {
    margin-left: auto!important;
    margin-right: auto!important;
}
.my-navbar {
    background-color: #fc3f1d;
}
.nav-link {
    margin-left: 10px!important;
    margin-right: 10px!important;
    color: #f6f5f3d4!important;
    font-size: 20px!important;
}
.nav-link:hover {
    color: #ffffff!important;
}

.lots_of_events {
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    text-align: center;
    width: 90%;
}

.event_card-wrapper {
	display: block;
	width: 100%;
	float: left;
}
@media only screen and (min-width: 450px) {
	.event_card-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.event_card-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 900px) {
	.event_card-wrapper {
		width: 25%;
	}
}
.event_card {
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 10px;
	position: relative;
	background: white;
	margin: 0 20px 20px 0;
	text-align: left;
	color: #black;
	z-index: 0;
	height: 240px;
}

a.event_name {
    padding: 1rem 1rem;
    font-size: 25px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    height: 25px;
}
a:hover.event_name  {
    font-weight: 600;
    padding: 1rem 1rem;
    font-size: 25px;
    color: #494D4E;
    text-decoration: none;
    height: 25px;
}
.event_preview {
    padding: 1rem 1rem;
    text-align: left;
    margin-left = 5px;
    font-size: 20px;
    color: black;
    height: 100px;
}
.event_time {
    padding: 1rem 1rem;
    text-align: left;
    margin-left = 5px;
    font-size: 16px;
    color: gray;
    height: 25px;
}
a.event_registration {
    font-size: 20px;
    display: inline-block;
    color: green;
    padding: 1rem 1rem;
    text-decoration: none;
    border-radius: 3px;
    height: 30px;
}
a:hover.event_registration  {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    color: green;
    padding: 1rem 1rem;
    text-decoration: none;
    border-radius: 3px;
    height: 30px;
}

.full_event_description_handler {
   margin-top: 40px;
   font-size: 25px;
   font-weight: bold;
   text-align: left;
   margin-bottom: 30px;
}

.current_event_time {
    font-size: 20px;
    text-align: left!important;
}
.full_event_description {
    font-size: 23px;
    text-align: left!important;
}


/*table*/
.btn.btn-primary {
    margin-top: 40px;
    margin-left: 70px;
    box-shadow: 0 0 0 0.2rem rgb(41, 195, 41);
    border-color:rgb(41, 195, 41);
    background-color: rgb(41, 195, 41);
}
.btn.btn-primary:active {
    box-shadow: 0 0 0 0.1rem rgb(101, 228, 101);
}

.table-area {
    margin-top: 70px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.table {
    border: 1px solid black;
    text-align: center!important;
}
.btn-danger {
    background-color: #fc3f1d!important;
}
.btn-warning {
    background-color: #ffd633!important;
    color: black!important;
}


.form-area {
    margin-top: 10%!important;
    margin-left: 33%!important;
    margin-right: 33%!important;
}

.btn-add {
    display: block;
    margin: 30px auto;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    color: #ffffff;
    border-color: rgb(41, 195, 41);
    background-color: rgb(41, 195, 41);
}